.bgimg {
    background-image: url("../../assets/images/background.jpg");
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

button{
    height:50px;
    width: 200px;
    margin-left: 10px;
}